<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>service</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
    <link rel="icon" href="../assets/img/dockube3.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- SweetAlert2 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.27/dist/sweetalert2.min.css">
<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.27/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Load jQuery first -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<!-- Load Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>

<!-- jQuery Scrollbar -->
<script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

<!-- Chart JS -->
<script src="../assets/js/plugin/chart.js/chart.min.js"></script>

<!-- jQuery Sparkline -->
<script src="../assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

<!-- Chart Circle -->
<script src="../assets/js/plugin/chart-circle/circles.min.js"></script>

<!-- Datatables -->
<script src="../assets/js/plugin/datatables/datatables.min.js"></script>

<!-- Bootstrap Notify -->
<script src="../assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

<!-- jQuery Vector Maps -->
<script src="../assets/js/plugin/jsvectormap/jsvectormap.min.js"></script>
<script src="../assets/js/plugin/jsvectormap/world.js"></script>

<!-- Google Maps Plugin -->
<script src="../assets/js/plugin/gmaps/gmaps.js"></script>

<!-- Sweet Alert -->
<script src="../assets/js/plugin/sweetalert/sweetalert.min.js"></script>

<!-- Kaiadmin JS -->
<script src="../assets/js/kaiadmin.min.js"></script>

<!-- Kaiadmin DEMO methods, don't include it in your project! -->
<script src="../assets/js/setting-demo2.js"></script>
<script src="/assets/js/script.js"></script>
<!-- Bootstrap CSS -->

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.min.js"></script>
<!-- Load Monaco Editor -->

    <!-- Fonts and icons -->
    <script src="../assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
      WebFont.load({
        google: { families: ["Public Sans:300,400,500,600,700"] },
        custom: {
          families: [
            "Font Awesome 5 Solid",
            "Font Awesome 5 Regular",
            "Font Awesome 5 Brands",
            "simple-line-icons",
          ],
          urls: ["../assets/css/fonts.min.css"],
        },
        active: function () {
          sessionStorage.fonts = true;
        },
      });
    </script>
    <!-- CSS Files -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/plugins.min.css" />
    <link rel="stylesheet" href="../assets/css/kaiadmin.min.css" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    
    <link rel="stylesheet" href="../assets/css/demo.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <link rel="stylesheet" href="../assets/css/add_stack.css">

  </head>
  <body>
    <div class="wrapper">
      <!-- Sidebar -->
      <div class="sidebar" data-background-color="dark">
        <div class="sidebar-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark">
            <a href="/" class="logo" style="display: flex; align-items: center;">
              <img src="assets/img/dockube3.png" alt="navbar brand" class="navbar-brand" height="40" />
              <span style="margin-left: 8px; font-size: 1.2em; font-weight: bold; color: aliceblue;">Dockube Pilot</span>
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              <li class="nav-item">
                <a href="/" aria-expanded="false">
                  <i class="fas fa-tachometer-alt"></i> <!-- Dashboard icon -->
                  <p>Dashboard</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/dockerRegistries">
                  <i class="fas fa-warehouse"></i> <!-- Registry icon -->
                  <p>Docker Registries</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/dockerfile_list">
                  <i class="fas fa-file-code"></i> <!-- Code file icon for Dockerfile -->
                  <p>Dockerfile</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/dockerimg">
                  <i class="fas fa-images"></i> <!-- Images icon -->
                  <p>Docker Images</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/dockercontainers">
                  <i class="fas fa-box"></i> <!-- Box icon for containers -->
                  <p>Docker Containers</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/volumes">
                  <i class="fas fa-database"></i> <!-- Database icon for Volumes -->
                  <p>Volumes</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/compose">
                  <i class="fas fa-cubes"></i> <!-- Stacked cubes for Compose -->
                  <p>Docker Compose</p>
                </a>
              </li>
              <li class="nav-item active">
                <a href="swarm_list">
                    <i class="fas fa-project-diagram"></i> <!-- Stacked cubes for Compose -->
                  <p>Docker Swarm</p>
                </a>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#kubernetesMenu" aria-expanded="false">
                    <i class="fas fa-dharmachakra"></i>
                    <p>Kubernetes</p>
                    <span class="caret"></span>
                </a>
                <div class="collapse" id="kubernetesMenu">
                    <ul class="nav nav-collapse">
                        <li>
                            <a href="/kubernetes/cluster">
                                <span class="sub-item">Cluster Setup</span>
                            </a>
                        </li>
                        <li>
                            <a href="/kubernetes/nodes">
                                <span class="sub-item">Nodes</span>
                            </a>
                        </li>
                        <li>
                            <a href="/kubernetes/deployments">
                                <span class="sub-item">Deployments</span>
                            </a>
                        </li>
                        <li>
                          <a href="/kubernetes/statefulsets">
                              <span class="sub-item">StatefulSets</span>
                          </a>
                      </li>
                        <li>
                            <a href="/kubernetes/services">
                                <span class="sub-item">Services</span>
                            </a>
                        </li>
                        <li>
                            <a href="/kubernetes/pods">
                                <span class="sub-item">Pods</span>
                            </a>
                        </li>
                        <li>
                            <a href="/kubernetes/pvcs">
                                <span class="sub-item">Storage</span>
                            </a>
                        </li>
                        <li>
                          <a href="/kubernetes/configs">
                              <span class="sub-item">ConfigMaps && Secrets</span>
                          </a>
                      </li>
                        <li>
                            <a href="/kubernetes/namespaces">
                                <span class="sub-item">Namespaces</span>
                            </a>
                        </li>
                         <li>
                <a href="/kubernetes/ingresses">
                    <span class="sub-item">Ingresses</span>
                </a>
            </li>
                    </ul>
                   
                </div>
            </li>
            <li class="nav-item">
              <a href="/cicd_integration">
                <i class="fas fa-sync-alt"></i>
                <p>CI CD</p>
              </a>
            </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#" onclick="logout()">
                  <i class="fas fa-sign-out-alt"></i> <!-- Logout icon -->
                  <p>Logout</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Sidebar -->
      <div class="main-panel">
        <div class="main-header">
          <div class="main-header-logo">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="dark">
              <a href="../index.html" class="logo">
                <img src="../assets/img/dockube3.png" alt="navbar brand" class="navbar-brand" />
              </a>
              <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                  <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                  <i class="gg-menu-left"></i>
                </button>
              </div>
              <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
              </button>
            </div>
            <!-- End Logo Header -->
          </div>
          <!-- Navbar Header -->
          <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
            <div class="container-fluid">
              <nav class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button type="submit" class="btn btn-search pe-1">
                      <i class="fa fa-search search-icon"></i>
                    </button>
                  </div>
                  <input type="text" placeholder="Search ..." class="form-control" />
                </div>
              </nav>
              <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" aria-haspopup="true">
                    <i class="fa fa-search"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-search animated fadeIn">
                    <form class="navbar-left navbar-form nav-search">
                      <div class="input-group">
                        <input type="text" placeholder="Search ..." class="form-control" />
                      </div>
                    </form>
                  </ul>
                </li>
                <li class="nav-item topbar-user dropdown hidden-caret">
                  <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="/profile" aria-expanded="false">
                    <span class="profile-username">
                      <span class="op-7">Hi,</span>
                      <span class="fw-bold">Hizrian</span>
                    </span>
                  </a>
                  <ul class="dropdown-menu dropdown-user animated fadeIn">
                    <div class="dropdown-user-scroll scrollbar-outer">
                      <li>
                        <div class="user-box">
                          <div class="avatar-lg">
                            <img src="assets/img/profile.jpg" alt="image profile" class="avatar-img rounded" />
                          </div>
                          <div class="u-text">
                            <h4>Hizrian</h4>
                            <p class="text-muted">hello@example.com</p>
                            <a href="/profile" class="action-btn btn-xs btn-secondary btn-sm">Update Profile</a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" onclick="logout()">Logout</a>
                      </li>
                    </div>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
          <script>
            document.addEventListener("DOMContentLoaded", function() {
              var user = JSON.parse(localStorage.getItem("user"));
              if (user) {
                document.querySelector(".profile-username .fw-bold").textContent = user.username;
                document.querySelector(".u-text h4").textContent = user.username;
                document.querySelector(".u-text .text-muted").textContent = user.email;
              }
            });
          </script>
          <!-- End Navbar -->
        </div>
       

<div class="container">
    <div class="page-inner">
        <div class="page-header">
          <h2>Deploy a New Stack
            <span class="help-icon" data-tooltip="Multi-container applications defined in YAML. Manages services, networks and volumes together">
              <i class="fas fa-info-circle"></i>
            </span>
          </h2>
            </div>

        <!-- Stack Details Form -->
        <div class="card p-4">
            <h5 class="fw-semibold">Stack Details</h5>
            <form id="deployStackForm">
                <div class="mb-3">
                  <label for="stackName" class="form-label">Stack Name
                    <span class="help-icon" data-tooltip="Unique identifier for this deployment">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                 <input type="text" class="form-control" id="stackName" placeholder="Enter stack name" required>
                </div>
                <div class="mb-3">
                    <label for="yamlContent" class="form-label">Docker Compose YAML</label>
                    <textarea class="form-control" id="yamlContent" rows="15" placeholder="Write your YAML here" required>

                    </textarea>
                    <pre id="templateContent" hidden class="mt-3" style="display: none;"><code></code></pre>

                    <div id="yamlValidation" class="mt-2"></div>
                </div>
                <button type="submit" class="action-btn btn-primary">Deploy Stack</button>
            </form>
        </div>

        <!-- Templates Section -->
        <div class="card p-4 mt-3">
          <h5 class="fw-semibold">Pre-built Templates
            <span class="help-icon" data-tooltip="Common application deployments with optimal configurations">
              <i class="fas fa-info-circle"></i>
            </span>
          </h5>
             <select class="form-control" id="templateDropdown" onchange="loadTemplate()">
                <option value="">Select a Template</option>
                <option value="node-mongo">Node.js + MongoDB</option>
                <option value="wordpress-mysql">WordPress + MySQL</option>
                <option value="nginx">Nginx</option>
            </select>
        </div>

        <!-- AI Assistance Section -->
        <div class="card p-4 mt-3">
          <h5 class="fw-semibold">AI Assistance
            <span class="help-icon" data-tooltip="Get intelligent suggestions for your compose file">
              <i class="fas fa-info-circle"></i>
            </span>
          </h5>
            <button class="action-btn btn-blue2" onclick="getAISuggestions()">
                <i class="fas fa-robot"></i> Get AI Suggestions
            </button>
            <div id="aiSuggestions" class="mt-3"></div>
        </div>
    </div>
</div>


<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Success</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Stack deployed successfully!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="action-btn btn-pastel-red" data-bs-dismiss="modal">Close</button>
                <a href="/swarm_list" class="action-btn btn-blue2">View Stacks</a>
            </div>
        </div>
    </div>
</div>

<!-- Error Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="errorMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="action-btn btn-pastel-red" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
   
<!-- Chatbot Container -->
<div id="chatbot-container">
 
  <div id="chatbot-toggle">
      <img src="../assets/img/dockube3.png" alt="Chatbot Logo" width="50" height="50">
  </div>

 
<div id="chatbot-interface" style="display: none;">
  <!-- Chat Header -->
  <div id="chat-header">
      <strong>
          <img src="../assets/img/dockube3.png" alt="Logo">
          Docker & Kubernetes Assistant
      </strong>
      <button id="chat-close">×</button>
  </div>

  <!-- Chat Body -->
  <div id="chat-body">
      <div id="chat-messages">
          <!-- Welcome Message -->
          <div class="welcome-message" onclick="toggleWelcomeMessage()">
              👋 Welcome! I'm your Docker & Kubernetes Assistant.
              Ask me anything about Docker, Kubernetes, and best practices.
              <div class="hidden-content">
                  Hi! I'm your Docker & Kubernetes Assistant.  
                  Ask me anything about services, Kubernetes configurations, and best practices.
              </div>
          </div>
      </div>
  </div>

  <!-- Chat Input -->
  <div id="chat-input">
      <input type="text" id="chat-message" placeholder="Type your question...">
      <button id="chat-send">Send</button>
  </div>
</div>
</div>
</div>
<!-- Tutorial Modal -->
 <div id="tutorial-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">service Tutorial</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <p id="tutorial-step-description"></p>
              <div class="progress mt-3">
                  <div id="tutorial-progress" class="progress-bar" role="progressbar" style="width: 0%;"></div>
              </div>
          </div>
          <div class="modal-footer">
              <button id="prev-step" class="action-btn btn-pastel-red" disabled>Previous</button>
              <button id="next-step" class="action-btn btn-blue2">Next</button>
          </div>
      </div>
  </div>
</div> 


    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.1/min/vs/loader.js"></script>
    <!-- Include SweetAlert2 in your HTML -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 <script>
document.addEventListener('DOMContentLoaded', function () {
    const deployStackForm = document.getElementById('deployStackForm');
    const yamlContentTextarea = document.getElementById('yamlContent');
    const yamlValidationDiv = document.getElementById('yamlValidation');
    const templateDropdown = document.getElementById('templateDropdown');
    const templateContentPre = document.getElementById('templateContent');
    const aiSuggestionsDiv = document.getElementById('aiSuggestions');

    yamlContentTextarea.addEventListener('input', async function () {
        const yamlContent = yamlContentTextarea.value;
        if (!yamlContent) {
            yamlValidationDiv.innerHTML = '';
            return;
        }

        const response = await fetch('/swarm/validate-yaml', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ yamlContent }),
        });
        const data = await response.json();

        if (data.valid) {
            yamlValidationDiv.innerHTML = '<div class="text-success">✅ YAML is valid!</div>';
        } else {
            yamlValidationDiv.innerHTML = `
                <div class="text-danger">❌ Invalid YAML: ${data.error}</div>
                <div class="mt-2">
                    <strong>AI Suggestions:</strong>
                    <ul>
                        ${data.suggestions.map(suggestion => `<li>${suggestion}</li>`).join('')}
                    </ul>
                </div>
            `;
        }
    });

    // Load template
    window.loadTemplate = function () {
        const template = templateDropdown.value;
        let yamlContent = '';

        switch (template) {
            case 'node-mongo':
                yamlContent = `
version: '3'
services:
  web:
    image: node:14
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    environment:
      - NODE_ENV=development
    depends_on:
      - mongo
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
volumes:
  mongo-data:
                `;
                break;
            case 'wordpress-mysql':
                yamlContent = `
version: '3'
services:
  wordpress:
    image: wordpress:latest
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
    depends_on:
      - db
  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
    volumes:
      - db-data:/var/lib/mysql
volumes:
  db-data:
                `;
                break;
            case 'nginx':
                yamlContent = `
version: '3'
services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
                `;
                break;
            default:
                yamlContent = '';
        }

        if (yamlContent) {
            templateContentPre.style.display = 'block';
            templateContentPre.querySelector('code').textContent = yamlContent;
            yamlContentTextarea.value = yamlContent;
        } else {
            templateContentPre.style.display = 'none';
        }
    };

    // AI Assistance
    window.getAISuggestions = async function () {
        const yamlContent = yamlContentTextarea.value;
        if (!yamlContent) {
            alert('Please enter some YAML content.');
            return;
        }

        const response = await fetch('/swarm/validate-yaml', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ yamlContent }),
        });
        const data = await response.json();

        if (data.valid) {
            aiSuggestionsDiv.innerHTML = '<div class="text-success">✅ YAML is valid!</div>';
        } else {
            aiSuggestionsDiv.innerHTML = `
                <div class="text-danger">❌ Invalid YAML: ${data.error}</div>
                <div class="mt-2">
                    <strong>AI Suggestions:</strong>
                    <ul>
                        ${data.suggestions.map(suggestion => `<li>${suggestion}</li>`).join('')}
                    </ul>
                </div>
            `;
        }
    };

    deployStackForm.addEventListener('submit', async function (event) {
        event.preventDefault();
    const stackName = document.getElementById('stackName').value;
    const yamlContent = document.getElementById('yamlContent').value;
    try {
        const response = await fetch('/swarm/stacks', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ name: stackName, yamlContent }),
        });

        if (!response.ok) {
            const errorData = await response.json();
            throw new Error(errorData.message || 'Failed to deploy stack');
        }

        const data = await response.json();
        console.log('Deployed stack:', data); 
        $('#successModal').modal('show');
    } catch (error) {
        console.error('Error deploying stack:', error);
        document.getElementById('errorMessage').textContent = error.message;
        $('#errorModal').modal('show');
    }

    });
});
 </script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
      const chatbotToggle = document.getElementById('chatbot-toggle');
      const chatbotInterface = document.getElementById('chatbot-interface');
      const chatClose = document.getElementById('chat-close');
      const chatBody = document.getElementById('chat-body');
      const chatMessages = document.getElementById('chat-messages');
      const chatMessageInput = document.getElementById('chat-message');
      const chatSendButton = document.getElementById('chat-send');

      // Toggle Chat Interface
      chatbotToggle.addEventListener('click', () => {
          chatbotInterface.style.display = 'block';
      });

      // Close Chat Interface
      chatClose.addEventListener('click', () => {
          chatbotInterface.style.display = 'none';
      });

      // Send Message to Chatbot
      chatSendButton.addEventListener('click', async () => {
          const message = chatMessageInput.value.trim();
          if (message) {
              // Add User Message to Chat
              chatMessages.innerHTML += `<div class="message"><strong>You:</strong> ${message}</div>`;
              chatMessageInput.value = '';

              // Show Loading Spinner
              chatMessages.innerHTML += `<div id="loading-spinner">Loading...</div>`;

              // Call Backend API
              try {
                  const response = await fetch('/api/chat', {
                      method: 'POST',
                      headers: { 'Content-Type': 'application/json' },
                      body: JSON.stringify({ message })
                  });
                  const data = await response.json();

                  // Remove Loading Spinner and Add Bot Response
                  document.getElementById('loading-spinner').remove();
                  chatMessages.innerHTML += `<div class="message"><strong>Assistant:</strong> ${data.response}</div>`;
              } catch (error) {
                  console.error('Error:', error);
                  chatMessages.innerHTML += `<div class="message"><strong>Error:</strong> Failed to get response.</div>`;
              }

              // Scroll to Bottom of Chat
              chatBody.scrollTop = chatBody.scrollHeight;
          }
      });

      // Allow Pressing "Enter" to Send a Message
      chatMessageInput.addEventListener('keypress', (e) => {
          if (e.key === 'Enter') {
              chatSendButton.click();
          }
      });
  });
</script>




<script>
  $(document).ready(function () {
      $('.scrollbar').scrollbar();
  });
</script>
  <script>
    $(document).ready(function() {
  $('[data-toggle="tooltip"]').tooltip(); 
});

  </script>
  <script>
    function logout() {
            Swal.fire({
                title: 'Logout Confirmation',
                text: 'Are you sure you want to log out?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#326ce5',
                cancelButtonColor: '#ff6666',
                confirmButtonText: 'Yes, log out'
            }).then((result) => {
                if (result.isConfirmed) {
                    localStorage.clear();
                    window.location.replace("/login");
                }
            });
        }
  </script>
</body>

</html>
